<p>Attributes</p>
<table>
  <tr>
    <th>Name</th>
    <th>Color</th>
    <th>Age</th>
    <th>Sex</th>
  </tr>
  <tr>
    <td> <%= @cat.name %> </td>
    <td> <%= @cat.color %> </td>
    <td> <%= @cat.age %> </td>
    <td> <%= @cat.sex %> </td>
  </tr>
</table>

<p>Description</p>
<%= @cat.description %>
 <!-- :birth_date, :color, :name, :sex, :description, -->
