<h2>All of the bands!</h2>

<%= link_to "Add a band!", new_band_url %>

<br><br><br>

<section class="band-index">
   <% @bands.each.with_index do |band, i| %>
     <div class="band-index-item">
       <div>
         <img src="http://lorempixel.com/300/300/abstract/<%=i%>" >
         <%= band.name %>
         <%= button_to "Update", edit_band_url(band.id), method: :get %>
         <%= button_to "Delete", band_url(band.id), method: :delete %>
       </div>
     </div>
   <% end %>
 </section>
