<h2>Edit Post</h2>

<form action="<%= post_url(@post) %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <%= render "shared/auth_token" %>

  <label>Title
    <input type="text" name="post[title]" value="<%= @post.title %>">
  </label>

  <br>

  <label>Content<br>
    <textarea name="post[content]" rows="8" cols="25"><%= @post.content %></textarea>
  </label>

  <br>
  
  <h2>Select Subs!</h2>
  <% Sub.all.each do |sub| %>
  <label><%= sub.title %>
    <input type="checkbox" name="post[sub_ids][]" <%= "checked" if @post.subs.include?(sub) %> value="<%= sub.id %>">
    <br>
  </label>
  <% end %>

  <br><br>

  <input type="submit" value="Update Post!">

</form>
