<%= @post.title %>
<br>
<%= @post.url %>
<br>
<%= @post.content %>
<br>
<%= @post.author.username %>
<br>


<ul>
  <% @post.comments.where(parent_comment_id: nil).each do |parent_comment| %>
  <li>
    <%= render "comments/comment", comment: parent_comment %>
  </li>
  <% end %>
</ul>
